/tmp
/out-tsc
/**/*.tsbuildinfo

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
/srcClient/node_modules/

# Local task progress files
/doc/progress/*.md
!/doc/progress/README.md
